<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/out/head}"></head>

    <body style="background-color: #f1f1f1; height: 100vh">
        <div class="template-base" >   
            <main class="container-lg d-flex align-content-center justify-content-center " >                  
                <div class="br-card  col-lg-4 col-md-8 col-sm-11 mt-6" >
                    <div class="br-message success" role="alert" th:if="${message}">
                        <div class="icon">
                            <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="content">
                            <span class="message-body" th:text="${message}"></span>
                        </div>
                        <div class="close">
                            <button class="br-button circle small" type="button" aria-label="Fechar">
                                <i class="fas fa-times"aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-content p-">
                        <form  method="POST" th:action="@{/auth}" id="formLogin">
                            <div class="br-input mb-2">
                                <label for="username"  id="lblUsername">CPF ou Nome de Usuário </label>
                                <input id="username" type="text" name="username" onkeyup="isLetter(this.value)"/>
                            </div>
                            <div class="br-input input-button">
                                <label for="input-password">Senha</label>
                                <input id="input-password" type="password" name="password" />
                                <button class="br-button" type="button" aria-label="Mostrar senha">
                                    <i class="fas fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button class="br-button block primary btn-login mt-2" type="submit">
                                <span class="material-symbols-outlined">Entrar</span>
                            </button>
                            <div th:if="${param.error}" class="text-center mt-2">
                                <span class="text-danger text-center">
                                    Não foi possível autenticar, verifique suas credenciais de acesso
                                </span>
                            </div>
                        </form>
                        <div class="text-center mt-2">
                            <a onclick="forgetPassword()">Esqueceu a Senha?</a>
                            <span class="br-divider md my-3"></span>
                            <a class="br-button  secondary " type="button" href="/register">
                               Criar Nova Conta
                            </a>  
                            <p class="text-center  text-weight-regular text-base mt-2">Diretoria de Tecnologia Interna ©2023</p>
                        </div>
                    </div>
                </div>
               
            </main>            
        </div>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
        <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>   
        <script src="/assets/vendors/vanillaMasker/vanilla-masker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            let success = "[[${success}]]"
            let error = "[[${error}]]"             
        </script>
        <script src="/assets/js/auth/Login.js"></script>
        <script src="/assets/js/AlertTrigger.js"></script>

        
    </body>
</html>