<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{fragments/out/head}"></head>

    <body style="background-color: #f1f1f1; height: 100vh">
        <div class="template-base" >   
            <main class="container-lg d-flex align-content-center justify-content-center " >                  
                <div class="br-card  col-lg-4 col-md-8 col-sm-11 mt-6">
                    <div class="card-content p-">
                        <form class="" method="POST" th:action="@{/auth}">
                            <div class="br-input">
                                <label for="input-default">Nome de usuario</label>
                                <input id="input-default" type="text" name="username"/>
                            </div>
                            <div class="br-input input-button">
                                <label for="input-password">Senha</label>
                                <input id="input-password" type="password" name="password"/>
                                <button class="br-button" type="button" aria-label="Mostrar senha"><i class="fas fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                            <button class="br-button block primary btn-login mt-2" type="submit">
                                <span class="material-symbols-outlined">Entrar</span>
                            </button>
                            <span class="text-danger" th:if="${param.error}">
                                Nome de usuário ou senha incorreto
                            </span>
                        </form>
                        <div class="text-center mt-2">
                            <span class="br-divider md my-3"></span>                           
                            
                            <p class="text-center  text-weight-regular text-base mt-2">Diretoria de Tecnologia Interna ©2023</p>
                        </div>
                    </div>
                </div>
            </main>            
        </div>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>

        
    </body>
</html>