<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <link rel="stylesheet" href="/assets/vendors/bootStrap/bootstrap.min.css"/>
    <div th:replace="~{fragments/out/head}"></div>

    </head>
    
    <body style="background-color: #f1f1f1; height: 100vh">
        <div class="template-base" >   
            <main class="container-lg d-flex align-content-center justify-content-center " >                  
                <div class="br-card  col-lg-10 col-md-10 col-sm-11 mt-6">
                    <div class="card-content p-3">
                        <h3 class="mt-2 h3">Informações Pessoais </h3>
                        <form class="form-horizontal" id="formRegister" 
                         method="POST" th:action="@{/register}">
                            <div class="row">
                                <!-- Nome Completo -->
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="name">Nome completo*</label>
                                    <input name="name" id="name" type="text" required="true" />
                                </div>
                                <!-- CPF -->
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="cpf">CPF*</label>
                                    <input name="cpf" id="cpf" type="text" required="true" onblur="verifyCPF()" placeholder="000.000.000-00"/>
                                    <input name="user.username" id="username" type="hidden" required="true" />
                                </div>
                                <!-- RG -->
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="rg">RG*</label>
                                    <input name="rg" id="rg" type="text" required="true" />
                                </div>
                            </div>
                            <div class="row">
                                <!-- Data de nascimento -->
                                <div class="mb-3 col-md-4 col-sm-12 ">
                                    <div class="br-datetimepicker" data-mode="single" data-type="text">
                                        <div class="br-input has-icon">
                                            <label for="birthDate">Data de nascimento*</label>
                                            <input id="birthDate" name="birthDate" type="text" placeholder="dd/mm/aaaa" 
                                                data-input="data-input" required="true" />
                                            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker"
                                                data-toggle="data-toggle" id="simples-input-btn">
                                                <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Telefone -->
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="phone">Telefone*</label>
                                    <input name="phone" id="phone" type="tel" required="true"
                                     placeholder="(00) 00000-0000" />
                                </div>
                                <!-- E-mail -->
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="input-title">Email*</label>
                                    <input name="email" id="email" type="email" required="true" placeholder="email@email.com" />
                                </div>
                            </div>
                            <div class="row">                                                 
                                <div class="br-select mb-3 col-md-4 col-sm-12 "  style="max-width: 100%!important;">   
                                    <!-- Genero -->
                                    <div class="br-input ">
                                        <label for="gender">Gênero*</label>
                                        <input id="gender" name="gender" type="text" placeholder="Selecione uma opção" required/>
                                        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                            data-trigger="data-trigger">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="br-list " tabindex="0" style="width: 95%!important;">
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio">
                                                <input id="men" type="radio" name="estados-simples" value="masculino" />
                                                <label for="men">Masculino</label>
                                            </div>
                                        </div>
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio">
                                                <input id="woman" type="radio" name="estados-simples" value="feminino" />
                                                <label for="woman">Feminino</label>
                                            </div>
                                        </div>
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio ">
                                                <input id="outher" type="radio" name="estados-simples" value="outher" />
                                                <label for="outher">Outro</label>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class=" mb-3 col-md-4 col-sm-12 d-flex ">
                                    <!-- check -->
                                    <div class="br-checkbox align-self-end mb-2" >
                                      <input id="h-checkbox-1" name="checkSpecialCondition" type="checkbox" onChange="showSpecialCondition()"/>
                                      <label for="h-checkbox-1" id="checkSpecialCondition" >Possui alguma condição especial?</label>
                                    </div>
                                  </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 " >
                                    <!-- Condição especial -->
                                    <label for="diseaseInducedDeficiency ">Especifique a condição*</label>
                                    <input  type="text" disabled name="diseaseInducedDeficiency"   id="diseaseInducedDeficiency"/>
                                </div>
                             
                            </div>
                            <span class="br-divider md my-3"></span>
                            <h3 class="mt-2 h3">Endereço </h3>
                            <div class="row">
                                <!-- CEP -->                                
                                <div class="col-md-3 col-sm-12  mb-3">
                                    <div class="br-input  input-button">
                                      <label for="cep">Buscar</label>
                                      <input id="cep" type="cep" name="street.cep" placeholder="Digite o seu CEP" onblur="verifyCEP()"/>
                                      <button class="br-button" type="button" aria-label="Buscar" onclick="verifyCEP()">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                      </button>
                                    </div>
                                  </div>
                                <!-- Logradoura -->
                                <div class="br-input mb-3 col-md-7 col-sm-12 ">
                                    <label for="logradouro">Endereço*</label>
                                    <input name="street.logradouro" id="logradouro" type="text" required="true" readonly/>
                                </div>
                                <!-- numero -->
                                <div class="br-input mb-3 col-md-2 col-sm-12 ">
                                    <label for="addressNumber">Numero*</label>
                                    <input name="addressNumber" id="addressNumber" type="text" required="true" />
                                </div>
                            </div>
                            <div class="row">
                                <!-- Bairro -->
                                <div class="br-input mb-3 col-md-5 col-sm-12 ">
                                    <label for="districtName">Bairro*</label>
                                    <input name="street.district.name" id="districtName" type="text" required="true" readonly/>
                                    <input type="text" name="street.district.id" id="districtId" placeholder="bairro id" hidden readonly>
                                </div>
                                <!-- cidade -->
                                <div class="br-input mb-3 col-md-5 col-sm-12 ">
                                    <label for="city">Cidade*</label>
                                    <input name="street.district.city.name" id="city" type="text" required="true" readonly/>
                                    <input type="text" name="street.district.city.id" id="cityID" placeholder="cidade id" hidden readonly>
                                </div>
                                <!-- EStado -->
                                <div class="br-input mb-3 col-md-2 col-sm-12 ">
                                    <label for="districtName">Estado*</label>
                                    <input type="text" name="street.district.city.state.uf" id="stateID" >
                                </div>
                                
                                  
                            </div>
                            <span class="br-divider md my-3"></span>
                            <div class="row">
                                <h3 class="mt-2 h3">Senha </h3>
                                <!-- Senha -->
                                <div class="mb-3 col-md-6 col-sm-12">
                                    <div class="br-input input-button">
                                        <label for="password">Senha*</label>
                                        <input id="password" name="user.password" type="password" 
                                        placeholder="Digite uma senha" required/>
                                        <button class="br-button" type="button" aria-label="Mostrar senha">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                </div>
                                <!-- Confirmação de senha -->
                                <div class="mb-3 col-md-6 col-sm-12">
                                    <div class="br-input input-button">
                                        <label for="confirmPassword">Confirme a senha*</label>  
                                        <input id="confirmPassword" type="password" placeholder="Confirme a sua senha" name="confirmPassword" required/>
                                        <button class="br-button" type="button"   aria-label="Mostrar senha">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                </div>

                            </div>
                            <span class="br-divider md my-3"></span>

                            <div class="d-flex justify-content-between  mt-2 ">

                                <div class="br-checkbox " >
                                    <input id="termsUse" name="termsUse" type="checkbox" required/>
                                    <label  id="termsUse"  for="termsUse"></label>
                                    <span class="ml-2 label">
                                        Voce concordar com os
                                        <span class="nativo-hover text-blue-warm-vivid-90" onclick="termsOfService()">termos de uso</span>
                                    </span>
                                </div>


                                <button class="br-button  primary btn-loginml-auto" type="submit">
                                    <span class="material-symbols-outlined">Cadastrar</span>
                                </button>
                            </div>
                        </form>
                        <div>
                            
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
        <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
        <script src="/assets/js/auth/Register.js"></script>        
        <script>
            let success = "[[${success}]]"
            let error = "[[${error}]]"  
        </script>
        <script src="/assets/js/AlertTrigger.js"></script>
        <script src="/assets/vendors/vanillaMasker/vanilla-masker.min.js"></script>
        <script src="/assets/js/auth/Masker.js"></script>        
    </body>
</html>