<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <link rel="stylesheet" href="/assets/vendors/bootStrap/bootstrap.min.css"/>
    <div th:replace="~{fragments/out/head}"></div>

    </head>
    
    <body style="background-color: #f1f1f1; height: 100vh">
        <div class="template-base" >   
            <main class="container-lg d-flex align-content-center justify-content-center " >                  
                <div class="br-card  col-lg-10 col-md-10 col-sm-11 mt-6">
                    <div class="card-content p-3">
                        <h3 class="mt-2 h3">Informações Pessoais </h3>
                        <form class="form-horizontal" id="formRegister" 
                         method="POST" th:action="@{/register}">
                            <div class="row">
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="name">Nome completo*</label>
                                    <input name="name" id="name" type="text" required="true" />
                                </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="cpf">CPF*</label>
                                    <input name="cpf" id="cpf" type="text" required="true" onblur="verifyCPF()"/>
                                    <input name="user.username" id="username" type="hidden" required="true" />
                                </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="rg">RG*</label>
                                    <input name="rg" id="rg" type="text" required="true" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col-md-4 col-sm-12 ">
                                    <div class="br-datetimepicker" data-mode="single" data-type="text">
                                        <div class="br-input has-icon">
                                            <label for="birthDate">Data de nascimento*</label>
                                            <input id="birthDate" name="birthDate" type="text" placeholder="dd/mm/aaaa" data-input="data-input"
                                                required="true" />
                                            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker"
                                                data-toggle="data-toggle" id="simples-input-btn"><i class="fas fa-calendar-alt"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="phone">Telefone*</label>
                                    <input name="phone" id="phone" type="tel" required="true" />
                                </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                    <label for="input-title">Email*</label>
                                    <input name="email" id="email" type="email" required="true" />
                                </div>
                            </div>
                            <div class="row">                 
                                <div class="br-select mb-3 col-md-4 col-sm-12 "  style="max-width: 100%!important;">
                                   
                                    <div class="br-input ">
                                        <label for="gender">Gênero*</label>
                                        <input id="gender" name="gender" type="text" placeholder="Selecione o item" required/>
                                        <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                            data-trigger="data-trigger">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div class="br-list " tabindex="0" style="width: 95%!important;">
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio">
                                                <input id="men" type="radio" name="estados-simples" value="masculino" />
                                                <label for="men">Masculino</label>
                                            </div>
                                        </div>
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio">
                                                <input id="woman" type="radio" name="estados-simples" value="feminino" />
                                                <label for="woman">Feminino</label>
                                            </div>
                                        </div>
                                        <div class="br-item" tabindex="-1">
                                            <div class="br-radio ">
                                                <input id="outher" type="radio" name="estados-simples" value="outher" />
                                                <label for="outher">Outro</label>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                                <div class=" mb-3 col-md-4 col-sm-12 d-flex ">
                                    <div class="br-checkbox align-self-end mb-2" >
                                      <input id="h-checkbox-1" name="checkSpecialCondition" type="checkbox" onChange="showSpecialCondition()"/>
                                      <label for="h-checkbox-1" id="checkSpecialCondition" >Possui alguma condição especial?</label>
                                    </div>
                                  </div>
                                <div class="br-input mb-3 col-md-4 col-sm-12 " >
                                    <label for="diseaseInducedDeficiency ">Especifique a condição*</label>
                                    <input  type="text" disabled name="diseaseInducedDeficiency"   id="diseaseInducedDeficiency"/>
                                </div>
                             
                            </div>
                            <div class="row">
                              
                                <div class="mb-3 col-md-6 col-sm-12">
                                    <div class="br-input input-button">
                                        <label for="password">Senha*</label>
                                        <input id="password" name="user.password" type="password" placeholder="Digite uma senha"/>
                                        <button class="br-button" type="button" aria-label="Mostrar senha">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                </div>
                                <div class="mb-3 col-md-6 col-sm-12">
                                    <div class="br-input input-button">
                                        <label for="confirmPassword">Confirme a senha*</label>
                                        <input id="confirmPassword" type="password" placeholder="Digite a senha novamente" name="confirmPassword"/>
                                        <button class="br-button" type="button"   aria-label="Mostrar senha">
                                            <i class="fas fa-eye" aria-hidden="true"></i>
                                        </button>
                                      </div>
                                </div>
                              
                            </div>
                            <div class="d-flex justify-content-end">
                                <button class="br-button  primary btn-login mt-2" type="submit">
                                    <span class="material-symbols-outlined">Cadastrar</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
        <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
        <script src="/assets/js/auth/register.js"></script>        
        <script>
            let success = "[[${success}]]"
            let error = "[[${error}]]"  
        </script>
        <script src="/assets/js/AlertTrigger.js"></script>

        
    </body>
</html>