<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragments/out/head}"></head>

<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-fluid" id="main">
            
            <div class="d-flex justify-content-center">
                <img th:src="${subscription.process.imageUrl}" alt="">
            </div>
            <div>
                <h1 class="h2">[[${subscription.process.title}]]</h1>
                <span class="legend">[[${subscription.process.description}]]</span>
                <span class="br-divider md my-6"></span>
                <p class="h3 m-0 my-2">Confirme os seu dados</p>
                <div class="border-solid-sm p-3">
                    <h3 class="mt-2 h3">Dados pessoai </h3>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="name">Nome completo*</label>
                                <input name="name" id="name" type="text" readonly
                                    th:value="${subscription.candidate.name}" />
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="cpf">CPF*</label>
                                <input name="cpf" id="cpf" type="text" readonly
                                    th:value="${subscription.candidate.cpf}" />

                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="rg">RG*</label>
                                <input name="rg" id="rg" type="text" readonly th:value="${subscription.candidate.rg}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4 col-sm-12 ">
                                <div class="br-datetimepicker" data-mode="single" data-type="text"
                                    th:data-input="${subscription.candidate.birthDate}">
                                    <div class="br-input has-icon">
                                        <label for="birthDate">Data de nascimento*</label>
                                        <input name="rg" id="rg" type="text" readonly
                                            th:value="${subscription.candidate.birthDate}" />
                                    </div>
                                </div>
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="phone">Telefone*</label>
                                <input name="phone" id="phone" type="tel" readonly
                                    th:value="${subscription.candidate.phone}" />
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="input-title">Email*</label>
                                <input name="email" id="email" type="email" readonly
                                    th:value="${subscription.candidate.email}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="br-select mb-3 col-md-4 col-sm-12 " style="max-width: 100%!important;">
                                <div class="br-input ">
                                    <label for="gender">Gênero*</label>
                                    <input name="email" id="email" type="email" readonly
                                        th:value="${subscription.candidate.gender}" />
                                </div>
                                <div class="br-list" tabindex="0">
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio">
                                            <input id="men" type="radio" name="estados-simples" value="masculino" />
                                            <label for="men">Masculino</label>
                                        </div>
                                    </div>
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio">
                                            <input id="woman" type="radio" name="estados-simples" value="feminino" />
                                            <label for="woman">Feminino</label>
                                        </div>
                                    </div>
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio ">
                                            <input id="outher" type="radio" name="estados-simples" value="outher" />
                                            <label for="outher">Outro</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" mb-3 col-md-4 col-sm-12 d-flex ">
                                <div class="br-checkbox align-self-end mb-2">
                                    <input id="h-checkbox-1" name="checkSpecialCondition" type="checkbox"
                                        onChange="showSpecialCondition()"
                                        th:checked="${subscription.candidate.diseaseInducedDeficiency}" disabled />

                                    <label for="h-checkbox-1" id="checkSpecialCondition">Possui alguma condição
                                        especial?</label>
                                </div>
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="specialCondition ">Especifique a condição*</label>
                                <input name="specialCondition" type="text" id="specialCondition"
                                    th:value="${subscription.candidate.diseaseInducedDeficiency} ?: 'Não informado'"
                                    readonly />
                            </div>
                        </div>
                        <span class="br-divider md my-3"></span>
                        <h3 class="mt-2 h3">Endereço </h3>
                        <div class="row">
                            <!-- CEP -->
                            <div class="col-md-3 col-sm-12  mb-3">
                                <div class="br-input  input-button">
                                    <label for="cep">Buscar</label>
                                    <input type="text" th:value="${subscription.candidate.street.cep}" readonly />
                                </div>
                            </div>
                            <!-- Logradoura -->
                            <div class="br-input mb-3 col-md-7 col-sm-12 ">
                                <label for="logradouro">Endereço*</label>
                                <input th:value="${subscription.candidate.street.logradouro}" type="text" readonly />
                            </div>
                            <!-- numero -->
                            <div class="br-input mb-3 col-md-2 col-sm-12 ">
                                <label for="addressNumber">Numero*</label>
                                <input th:value="${subscription.candidate.addressNumber}" type="text" required="true"
                                    readonly />
                            </div>
                        </div>
                        <div class="row">
                            <!-- Bairro -->
                            <div class="br-input mb-3 col-md-5 col-sm-12 ">
                                <label for="districtName">Bairro*</label>
                                <input th:value="${subscription.candidate.street.district.name}" type="text" readonly />
                            </div>
                            <!-- cidade -->
                            <div class="br-input mb-3 col-md-5 col-sm-12 ">
                                <label for="city">Cidade*</label>
                                <input type="text" th:value="${subscription.candidate.street.district.city.name}"
                                    readonly>
                            </div>
                            <!-- EStado -->
                            <div class="br-input mb-3 col-md-2 col-sm-12 ">
                                <label for="districtName">Estado*</label>
                                <input type="text" th:value="${subscription.candidate.street.district.city.state.uf}"
                                    id="stateID" placeholder="estado" readonly>
                            </div>


                        </div>
                        <!-- <div class="d-flex justify-content-end mt-2">
                            <span class="legend">Existe alguma divergência nos seus dados pessoais? <a
                                    th:href="'/cadidate' + ${subscription.candidate.cpf}">Clique aqui para corrigir.</a>
                            </span>
                        </div> -->
                    </div>
                </div>

                <span class="br-divider md my-6"></span>

                <p class="h4">Escolha as modalidades do processo que deseja participar</p>
                <div class="mx-1 mb-6">
                    <form action="/subscription" method="post" id="formSubscription">
                        <input type="text" th:field="${subscription.process.id}" hidden>
                        <input type="text" th:field="${subscription.candidate.cpf}" hidden>

                        <div class="br-message info" role="alert" th:if="${hasSubscription}">
                            <div class="icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="content">
                                <span class="message-title">Você já está inscrito </span>
                                <span class="message-body">neste processo seletivo.</span>
                                <span class="message-title">O numero da sua inscrição é: [[${subscription.process.id}]]
                                </span>
                            </div>
                        </div>
                        <div class="br-message warning" role="alert" th:unless="${hasSubscription}">
                            <div class="icon">
                                <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="content">
                                <span class="message-title">Atenção,</span>
                                <span class="message-body">é possivel selecionar <strong>mais de uma
                                        modalidade.</strong> após a inscrição não haverá possibilidade de mudanças.
                                </span>
                            </div>
                        </div>
                        <div class=" d-flex justify-content-start align-intems-center gap-5 flex-wrap">
                            <div class="br-checkbox ml-2 mt-0 p-3"
                                th:each="modality, state : ${subscription.process.modalities}">
                                <input th:id="${modality.id}" th:value="${modality.id}" type="checkbox"
                                    th:name="modalities" th:data-child="check-01"
                                    th:checked="${#arrays.contains(subscription.modalities, modality)}"
                                    th:disabled="${hasSubscription}" />

                                <label th:for="${modality.id}" class="legend"> [[${modality.name}]]</label>
                            </div>
                        </div>
                        <div>
                            <div class="d-flex justify-content-end mt-2" th:if="${hasSubscription}">
                                <a class="br-button primary dark-mode " id="button"
                                    th:href="'/report?s=' + ${subscription.id}" target="_blank">
                                    Imprimir Inscrição
                            </a>
                            </div>
                            <div class="d-flex justify-content-end" th:unless="${hasSubscription}">
                                <button class="br-button primary dark-mode mr-3 " id="submitButton" type="submit"
                                    onclick="loadingAlert('Estamos finalizando a sua inscrição')">
                                    Inscrever-se
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </main>
        <footer th:replace="~{fragments/out/footer}"></footer>
    </div>
    <script src="/assets/vendors/govBR/dist/core.min.js"></script>
    <script src="/assets/vendors/govBR/dist/core-init.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
    <script>
        let success = "[[${success}]]"
        let error = "[[${error}]]"

        let selectedModalities = "[[${subscription.modalities}]]"

        //setando o valor do input da data de nascimento
        function setInputDate() {
            datetimepickerList.forEach(item => {
                item.calendar.setDate(new Date(item.component.getAttribute('data-input')));
            })

        }
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>
    <script src="/assets/vendors/vanillaMasker/vanilla-masker.min.js"></script>
    <script src="/assets/js/auth/Masker.js"></script>  


</body>

</html>