<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragments/out/head}"></head>

<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-fluid" id="main">
            <div class="row">
                <div class="col-12">
                    <div class="br-carousel" data-stage="in" data-mobile-nav="1">
                        <div class="carousel-stage">
                            <div class="carousel-page" active>
                                <div class="carousel-content bg-blue-10">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h1>[[${subscription.process.title}]]</h1>
                <span>[[${subscription.process.description}]]</span>

                <span class="br-divider md my-6"></span>
                
                


                <p class="h4 m-0 my-2">Confirme os seu dados</p>
                <div class="border-solid-sm p-3">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="name">Nome completo*</label>
                                <input name="name" id="name" type="text" readonly
                                    th:field="${subscription.candidate.name}" />
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="cpf">CPF*</label>
                                <input name="cpf" id="cpf" type="text" readonly
                                    th:field="${subscription.candidate.cpf}" />

                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="rg">RG*</label>
                                <input name="rg" id="rg" type="text" readonly th:field="${subscription.candidate.rg}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-md-4 col-sm-12 ">
                                <div class="br-datetimepicker" data-mode="single" data-type="text"
                                    th:data-input="${subscription.candidate.birthDate}">
                                    <div class="br-input has-icon">
                                        <label for="birthDate">Data de nascimento*</label>
                                        <input name="rg" id="rg" type="text" readonly  th:value="${subscription.candidate.birthDate}"  />
                                    </div>
                                </div>
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="phone">Telefone*</label>
                                <input name="phone" id="phone" type="tel" readonly
                                    th:field="${subscription.candidate.phone}" />
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="input-title">Email*</label>
                                <input name="email" id="email" type="email" readonly
                                    th:field="${subscription.candidate.email}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="br-select mb-3 col-md-4 col-sm-12 " style="max-width: 100%!important;">
                                <div class="br-input ">
                                    <label for="gender">Gênero*</label>
                                    <input name="email" id="email" type="email" readonly
                                    th:field="${subscription.candidate.gender}" />
                                </div>
                                <div class="br-list" tabindex="0">
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio">
                                            <input id="men" type="radio" name="estados-simples" value="masculino" />
                                            <label for="men">Masculino</label>
                                        </div>
                                    </div>
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio">
                                            <input id="woman" type="radio" name="estados-simples" value="feminino" />
                                            <label for="woman">Feminino</label>
                                        </div>
                                    </div>
                                    <div class="br-item" tabindex="-1">
                                        <div class="br-radio ">
                                            <input id="outher" type="radio" name="estados-simples" value="outher" />
                                            <label for="outher">Outro</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class=" mb-3 col-md-4 col-sm-12 d-flex ">
                                <div class="br-checkbox align-self-end mb-2">
                                    <input id="h-checkbox-1" name="checkSpecialCondition" type="checkbox" readonly
                                        onChange="showSpecialCondition()" />
                                    <label for="h-checkbox-1" id="checkSpecialCondition" >Possui alguma condição
                                        especial?</label>
                                </div>
                            </div>
                            <div class="br-input mb-3 col-md-4 col-sm-12 ">
                                <label for="specialCondition ">Especifique a condição*</label>
                                <input name="specialCondition" type="text" id="specialCondition"
                                    th:field="${subscription.candidate.diseaseInducedDeficiency}" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <span class="br-divider md my-6"></span>

                <p class="h4">Escolha as modalidades do processo que deseja participar</p>
                <div class="mx-1 mb-6">
                    <form action="/subscription" method="post" id="formSubscription">
                        <input type="text" th:field="${subscription.process}" hidden>
                        <input type="text" th:field="${subscription.candidate}" hidden>
                        <input type="text" th:field="${subscription.candidate.cpf}" hidden>

                        <div class="br-message info" role="alert">
                            <div class="icon"><i class="fas fa-info-circle fa-lg" aria-hidden="true"></i>
                            </div>
                            <div class="content"><span class="message-title">Atenção.</span><span class="message-body"> É possivel se cadastar em <strong>duas ou mais modalidades</strong> </span></div>
                        </div>
                        <div class=" d-flex justify-content-start align-intems-center gap-5 flex-wrap">

                           
                            <div class="br-checkbox ml-2 mt-0"  th:each="modality,state : ${subscription.process.modalities}">
                                <input th:id="${modality.id}" th:value="${modality.id}" type="checkbox"
                                th:name="modalities" th:data-child="check-01" />
                                <label th:for="${modality.id}"> [[${modality.name}]]</label>
                            </div>
                           

                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="br-button primary dark-mode mr-3 " type="submit">Cadastrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>


        </main>
        <footer th:replace="~{fragments/out/footer}"></footer>
    </div>
    <script src="/assets/vendors/govBR/dist/core.min.js"></script>
    <script src="/assets/vendors/govBR/dist/core-init.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>

    <script>
        function setInputDate() {
            datetimepickerList.forEach(item => {
                item.calendar.setDate(new Date(item.component.getAttribute('data-input')));
            })
        }
    </script>    
    <script>
        let successo = "[[${success}]]"
        let error = "[[${error}]]"  
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>
</body>

</html>