<header class="br-header mb-3" id="header" data-sticky="data-sticky">
    <div class="container-lg">
        <div class="header-top">
            <div class="header-logo">
                <a href="/home"><img src="/assets/images/logo_morato-v2.png" alt="logo"/></a>
                    <span class="br-divider vertical"></span>
                <div class="header-sign">Prefeitura de Francisco Morato</div>
            </div>
            <div class="header-actions" sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_ROOT')">
                <div class="header-links dropdown" >
                    <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <div class="br-list">
                        <div class="header">
                            <div class="title">Acesso Rápido</div>
                        </div>
                        <a class="br-item" href="/process">Ver os Processos </a>
                        <a class="br-item" href="/process/add">Adicionar Processo </a>
                    </div>
                </div>
                <span class="br-divider vertical mx-half mx-sm-1"></span>
                <span class="ml-2 text-gray-80 text-weight-regular">Olá,
                    <span class="legend">[[${#authentication.name}]]</span>
                </span>
                <a class="br-button" type="button" onClick="confirmLogout()">
                    <i class="fa-solid fa-power-off"></i>
                </a>       
            </div>
            <div class="header-actions" sec:authorize="hasAnyRole('ROLE_COMUM')">
                <span class="ml-2 text-gray-80 text-weight-regular">Olá,
                    <span class="legend">Candidato</span>
                </span>
                <span class="br-divider vertical ml-4"></span>
                <a class="br-button" type="button" onClick="confirmLogout()">
                    <i class="fa-solid fa-power-off"></i>
                </a>               
            </div>
        </div>                     
    </div>
</header>
