<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <div th:replace="~{fragments/internal/head}"></div>
</head>


<body>
    <div class="template-base">
        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-fluid" id="main">
            <div class="card-content p-3">
                <h3 class="mt-2 h3">Informações Pessoais </h3>
                <form class="form-horizontal"  th:object="${candidate}"
                      method="POST" th:action="@{/candidate}" id="formRegister">
                    <div class="row">
                        <!-- Nome Completo -->
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <label for="name">Nome completo*</label>
                            <input th:field="*{name}"  type="text" required="true" />
                        </div>
                        <!-- CPF -->
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <label for="cpf">CPF*</label>
                            <input th:field="*{cpf}" id="cpf" type="text" required="true"  readonly
                                placeholder="000.000.000-00" />
                            <input th:field="*{user.username}" id="username" type="hidden" required="true" />
                        </div>
                        <!-- RG -->
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <label for="rg">RG*</label>
                            <input th:field="*{rg}" id="rg" type="text" required="true" />
                        </div>
                    </div>
                    <div class="row">
                        <!-- Data de nascimento -->
                        <div class="mb-3 col-md-4 col-sm-12 ">
                            <div class="br-datetimepicker" data-mode="single" data-type="text">
                                <div class="br-input has-icon">
                                    <label for="birthDate">Data de nascimento*</label>
                                    <input id="birthDate" th:field="*{birthDate}" type="text" placeholder="dd/mm/aaaa"
                                        data-input="data-input" required="true" />
                                    <button class="br-button circle small" type="button" aria-label="Abrir Timepicker"
                                        data-toggle="data-toggle" id="simples-input-btn">
                                        <i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- Telefone -->
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <label for="phone">Telefone*</label>
                            <input th:field="*{phone}" id="phone" type="tel" required="true" placeholder="(00) 00000-0000" />
                        </div>
                        <!-- E-mail -->
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <label for="input-title">Email*</label>
                            <input th:field="*{email}" id="email" type="email" required="true" placeholder="email@email.com" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="br-select mb-3 col-md-4 col-sm-12 " style="max-width: 100%!important;">
                            <!-- Genero -->
                            <div class="br-input ">
                                <label for="gender">Gênero*</label>
                                <input id="gender" th:field="*{gender}" type="text" placeholder="Selecione uma opção"
                                    required />
                                <button class="br-button" type="button" aria-label="Exibir lista" tabindex="-1"
                                    data-trigger="data-trigger">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="br-list " tabindex="0" style="width: 95%!important;">
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="men" type="radio"  value="Masculino" th:checked="#{strings.equals(gender, 'Masculino')}"/>
                                        <label for="men">Masculino</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio">
                                        <input id="woman" type="radio"  value="Feminino" th:checked="#{strings.equals(gender, 'Feminino')}"/>
                                        <label for="woman">Feminino</label>
                                    </div>
                                </div>
                                <div class="br-item" tabindex="-1">
                                    <div class="br-radio ">
                                        <input id="outher" type="radio"  value="Outro" th:checked="#{strings.equals(gender, 'Outro')}" />
                                        <label for="outher">Outro</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" mb-3 col-md-4 col-sm-12 d-flex ">
                            <!-- check -->
                            <div class="br-checkbox align-self-end mb-2">
                                <input id="h-checkbox-1" name="checkSpecialCondition"
                                       type="checkbox" onChange="showSpecialCondition()"
                                       th:checked="${diseaseInducedDeficiency}"/>
                                <label for="h-checkbox-1" id="checkSpecialCondition" >Possui alguma condição
                                    especial?</label>
                            </div>
                        </div>
                        <div class="br-input mb-3 col-md-4 col-sm-12 ">
                            <!-- Condição especial -->
                            <label for="diseaseInducedDeficiencyInput ">Especifique a condição*</label>
                            <input type="text" th:disabled="${diseaseInducedDeficiency != ''} ? false : true"  th:field="*{diseaseInducedDeficiency}" id="diseaseInducedDeficiency" />
                        </div>

                    </div>
                    <span class="br-divider md my-3"></span>
                    <h3 class="mt-2 h3">Endereço </h3>
                    <div class="row">
                        <!-- CEP -->
                        <div class="col-md-3 col-sm-12  mb-3">
                            <div class="br-input  input-button">
                                <label for="cep">Buscar</label>
                                <input  id="cep" type="cep" name="street.cep" th:value="*{street.cep}" placeholder="Digite o seu CEP"
                                    onblur="verifyCEP()" />
                                <button class="br-button" type="button" aria-label="Buscar" onclick="verifyCEP()">
                                    <i class="fas fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Logradoura -->
                        <div class="br-input mb-3 col-md-7 col-sm-12 ">
                            <label for="logradouro">Endereço*</label>
                            <input th:field="*{street.logradouro}" id="logradouro" type="text" required="true" readonly />
                        </div>
                        <!-- numero -->
                        <div class="br-input mb-3 col-md-2 col-sm-12 ">
                            <label for="addressNumber">Numero*</label>
                            <input th:field="*{addressNumber}" id="addressNumber" type="text" required="true" />
                        </div>
                    </div>
                    <div class="row">
                        <!-- Bairro -->
                        <div class="br-input mb-3 col-md-5 col-sm-12 ">
                            <label for="districtName">Bairro*</label>
                            <input th:field="*{street.district.name}" id="districtName" type="text" required="true" readonly />
                            <input type="text" th:field="*{street.district.id}" id="districtId" placeholder="bairro id" hidden
                                readonly>
                        </div>
                        <!-- cidade -->
                        <div class="br-input mb-3 col-md-5 col-sm-12 ">
                            <label for="city">Cidade*</label>
                            <input th:field="*{street.district.city.name}" id="city" type="text" required="true" readonly />
                            <input type="text" th:field="*{street.district.city.id}" id="cityID" placeholder="cidade id" hidden
                                readonly>
                        </div>
                        <!-- EStado -->
                        <div class="br-input mb-3 col-md-2 col-sm-12 ">
                            <label for="districtName">Estado*</label>
                            <input type="text" th:field="*{street.district.city.state.uf}" id="stateID">
                        </div>
                    </div>
                    <span class="br-divider md my-3"></span>
                    <div class="d-flex justify-content-end" th:if="${mayUpdate}">
                        <button class="br-button  primary btn-login mt-2" type="submit" >
                            <span class="material-symbols-outlined">Atualizar</span>
                        </button>
                    </div>
                    <div class="br-message warning" role="alert" th:unless="${mayUpdate}">
                        <div class="icon">
                            <i class="fas fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                        </div>
                        <div class="content">
                            <span class="message-title">Atenção,</span>
                            <span class="message-body">no momento
                                    <strong> não temos nenhum processo seletivo em aberto</strong>
                                    devido a isso a opção de atualização de dados está bloqueada até o próximo processo seletivo.
                                </span>
                        </div>
                    </div>
                </form>

            </div>

        </main>

        <footer th:replace="~{fragments/out/footer}"></footer>
    </div>
    <script src="/assets/vendors/govBR/dist/core.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script>
        let success = "[[${success}]]"
        let error = "[[${error}]]"  
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>
    <script src="/assets/js/auth/Register.js"></script>   
    <script src="/assets/vendors/vanillaMasker/vanilla-masker.min.js"></script>
    <script src="/assets/js/auth/Masker.js"></script>        


    
</body>

</html>