<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <div th:replace="~{fragments/internal/head}"></div>
</head>


<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-fluid" id="main">
            <div th:if="${#lists.size(processList) == 0 }">
                <div class="">
                    <div
                        class="d-flex flex-column flex-md-row justify-content-md-between justify-content-start col-md-8 col-sm-12 mx-auto">
                        <div class="my-auto text-center">
                            <p class="h2 mb-2">Nenhum processo seletivo em andamento</p>
                        </div>
                        <div class="">
                            <div class="">
                                <img src="/assets/images/ilustracaotempo.png" alt="" height="550px">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" th:unless="${#lists.size(processList) == 0 }">
                <div class="col-12">
                    <div class="br-carousel" data-stage="in" data-mobile-nav="1">
                        <div class="carousel-button">
                            <button class="br-button carousel-btn-prev terciary circle" type="button"
                                aria-label="Anterior">
                                <i class="fas fa-chevron-left" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="carousel-stage ">
                            <div class="carousel-page" th:each="process,status: ${processList}"
                                th:active="${status.index == 0 ? 'active' : ''}">
                                <a class="carousel-content"
                                    th:style="'background-image: url('+${process.imageUrl}+')!important;background: no-repeat; background-size: cover; height: inherit;'"
                                    th:href="'/subscription/' + ${process.id}">

                                    <div class="mt-auto  py-2 px-3 d-block mb-6 "
                                        style="background-color: rgba(0, 0, 0, 0.60);  width: 100%;">
                                        <div
                                            class="d-flex flex-column flex-md-row justify-content-md-between justify-content-start">
                                            <h4 class="h4 text-pure-0 m-0 mb-2" th:text="${process.title}"></h4>
                                            <span class="text-pure-0 m-0 h6 mb-2 text-right">
                                                Encerramento:
                                                <span class="text-nowrap">
                                                    [[${#dates.format(process.endDate, 'dd/MM/yyyy HH:mm')}]]
                                                </span>
                                            </span>
                                        </div>
                                        <div class="d-flex flex-column ">
                                            <span class="text-pure-0 text-base mb-2 m-0 "
                                                th:text="${process.description}"
                                                style="max-width: 400ch;overflow: hidden;text-overflow: ellipsis;"></span>
                                            <button class="br-button primary mb-2 mt-auto align-self-end" title="Clique para visualizar">
                                                Inscreva-se
                                            </button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-button">
                            <button class="br-button carousel-btn-next terciary circle" type="button"
                                aria-label="Próximo">
                                <i class="fas fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="carousel-step">
                            <div class="br-step" data-initial="1" data-type="simple">
                                <div class="step-progress">
                                    <button class="step-progress-btn" type="button" th:step-num="${status.index}"
                                        th:each="process, status: ${processList}">
                                        <span class="step-info"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="h2 m-0 mt-6 mb-2">Suas Inscrições: </h1>
            <div class="row mx-0 ">
                <div class="br-card  col-12  shadow-lg" th:each="subscription : ${subscriptions}"
                    th:if="${subscriptions.size > 0}">
                    <div class="card-content">
                        <a th:href="'/subscription/' + ${subscription.process.id}">
                            <h4 class="h4 mb-2 mt-0 nativo-hover" th:text="${subscription.process.title}"></h4>
                        </a>
                        <div class="d-flex  flex-column flex-md-row justify-content-md-between justify-content-start">
                            <p><span class="legend">Data de encerramento das inscrições: </span>
                                [[${#dates.format(subscription.process.endDate, 'dd/MM/yyyy HH:mm')}]]</p>
                            <p><span class="legend">Número da sua inscrição:</span>
                                [[${subscription.id}]]</p>

                        </div>
                        <h3 class="h6 m-0 mb-2 mt-3">Modalidades inscritas</h3>
                        <div class="row mx-0">
                            <div class="d-flex justify-content-start gap-3 flex-wrap">
                                <span class="br-tag bg-primary mb-2" th:each="modality: ${subscription.modalities}"
                                    th:text="${modality.name}"></span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mt-2">
                            <a class="br-button primary dark-mode " type="button"
                                th:href="'/report?s=' + ${subscription.id}" target="_blank">
                                Imprimir inscrição
                            </a>

                        </div>

                    </div>
                </div>
                <div class="br-card  col-12" th:if="${subscriptions.size == 0}">
                    <div class="card-content text-center">
                        <p>Nenhuma inscrição realizada</p>
                    </div>
                </div>
            </div>

        </main>

        <footer th:replace="~{fragments/out/footer}"></footer>
    </div>
    <script src="/assets/vendors/govBR/dist/core-init.js"></script>
    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script>
        let success = "[[${success}]]"
        let error = "[[${error}]]"  
        let message = "[[${message}]]";
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>
    <script src="/assets/js/home/Home.js"></script>

</body>

</html>