<!DOCTYPE html>
<html lang="pt-BR">
    
    <head th:replace="~{fragments/head}"></head>
    <body>
        <div class="template-base">
            <head th:replace="~{fragments/header}"></head>
            <main class="d-flex flex-fill mb-5" id="main">
                <div class="container-lg d-flex">
                      

                </div>
            </main>
           
           
        </div>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
        <script src="/assets/js/themeJS.js"></script>
    </body>
</html>