<!DOCTYPE html>
<html lang="pt-BR">

    <head th:replace="~{fragments/head}"></head>
    <body>
        <div class="template-base">
            <head th:replace="~{fragments/header}"></head>
            <main class="d-flex flex-fill mb-5" id="main">
                <div class="container-lg">
                    <h1>Cadastro do Processo Seletivo  </h1>
                    [[${selectiveProcess}]]   

                    <div class="br-card p-5 process " >
                        <h3 class="m-0 mb-2">Dados do Processo</h3>
                        <form class="form-horizontal" th:action="@{/process}"
                              method="POST" th:object="${selectiveProcess}" >    
                                <div class="br-input mb-3 col-12">
                                    <label for="input-title">Título</label>
                                    <input  name="title" id="title" type="text"  required="true"  />
                                </div>        
                                <div class="row">                                   
                                    <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
                                        <div class="br-datetimepicker" data-mode="single" data-type="datetime-local">
                                          <div class="br-input has-icon">
                                            <label for="dateandtime-input">Inicio das incrições</label>
                                            <input name="startDate" id="startDate" type="datetime-local" placeholder="dd/mm/aaaa hh:mm" data-input="data-input"/>
                                            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker" data-toggle="data-toggle" id="dateandtime-input-btn"><i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
                                        <div class="br-datetimepicker" data-mode="single" data-type="datetime-local">
                                          <div class="br-input has-icon">
                                            <label for="dateandtime-input">Inicio das incrições</label>
                                            <input name="endDate" id="endDate" type="datetime-local" placeholder="dd/mm/aaaa hh:mm" data-input="data-input"/>
                                            <button class="br-button circle small" type="button" aria-label="Abrir Timepicker" data-toggle="data-toggle" id="dateandtime-input-btn"><i class="fas fa-calendar-alt" aria-hidden="true"></i>
                                            </button>
                                          </div>
                                        </div>
                                      </div>                                    
                                </div>                                
                                <div class="br-textarea mb-3 col-12">
                                    <label for="textarea-id1">Descrição</label>
                                    <textarea  name="description"  id="description" type="text" required="true" /> </textarea>
                                </div>
                            <div  class="d-flex justify-content-end">
                                <button class="br-button primary dark-mode mr-3 " type="submit">Cadastrar
                                </button>
                            </div>
                                  
                        </form>
                    </div>
                  
                     <div class="br-card p-5 modaliti d-none" >
                        <h3 class="m-0 mb-2">Modalidades do Processo</h3>
                        <form id="" class="form-horizontal" th:action="@{/process/modality}"
                              method="POST" th:object="${modalityDTO}" >                            
                                <div class="br-input mb-3 col-12">
                                    <label for="input-title">Título</label>
                                    <input  name="title" type="text"  required="true"/>
                                </div>                                             
                            <div  class="d-flex justify-content-end">
                                <button class="br-button primary dark-mode mr-3 " type="submit">Cadastrar
                                </button>
                            </div>
                      
                        </form>
                    </div>
                    <div class="br-step" data-initial="1" data-label="bottom">
                        <div class="step-progress">
                            <button class="step-progress-btn " type="button" onclick="openDados()" value="1" ><span class="step-info">Processo Seletivo</span></button>
                            <button th:if="${process?.id == null}" class="step-progress-btn "  type="button" value="2"  disabled ><span class="step-info">Modalidades</span></button>                          
                            <button th:unless="${process?.id == null}" class="step-progress-btn " type="button" value="2" onclick="openModalities()"><span class="step-info">Modalidades</span></button> 
                
                        </div>
                      </div>
                </div>
            </main>
        </div>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
        <script src="/assets/vendors/govBR/dist/core.min.js"></script>        
        <script src="/assets/js/ThemeJS.js"></script>
        <script src="/assets/js/process/AddProcess.js"></script>       
    </body>
</html>