<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragments/internal/head}"></head>

<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="d-flex flex-fill mb-5" id="main">
            <div class="container-lg">
                <h1>Cadastro do Processo Seletivo </h1>
                <!-- sucess mensage -->
            <div class="br-message danger mt-3" role="alert" th:if="${error}">
                <div class="icon">
                    <i class="fas fa-times-circle fa-lg" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <span class="message-title">ERRO: </span>
                    <span class="message-body" yh:text="${error}"> </span>
                </div>
                <div class="close">
                <button class="br-button circle small" type="button" aria-label="Fechar"><i class="fas fa-times" aria-hidden="true"></i>
                </button>
                </div>
            </div>
            <!-- error mensage -->
            <div class="br-message success" role="alert" th:if="${success}">
                <div class="icon">
                    <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
                </div>
                <div class="content">
                    <span class="message-title">Sucesso.</span>
                    <span class="message-body" th:text="${success}"> </span>
                </div>
                <div class="close">
                <button class="br-button circle small" type="button" aria-label="Fechar">
                    <i class="fas fa-times" aria-hidden="true"></i>
                </button>
                </div>
            </div>

                <div class="br-card p-5 process ">
                    <h3 class="m-0 mb-2 mb-3">Dados do Processo</h3>
                    <form class="form-horizontal" th:action="@{/process}" method="POST" th:object="${selectiveProcess}">
                        <div class="row">
                            <div class="br-input mb-3 col-md-7 col-sm-12 ">
                                <label for="input-title">Título</label>
                                <input name="title" id="title" type="text" required="true" th:field="*{title}" />
                            </div>
                            <div class="br-upload col-md-5 col-sm-12 mb-3">
                                <label class="upload-label" for="single-file"><span>Imagem de exposição</span></label>
                                <input class="upload-input" id="single-file" type="file"/>
                                <div class="upload-list"></div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="br-datetimepicker" data-mode="single" data-type="datetime-local"
                                    th:data-input="${#dates.format(selectiveProcess.startDate, 'yyyy-MM-dd HH:mm')}">
                                    <div class="br-input has-icon">
                                        <label for="startDate">Inicio das incrições</label>
                                        <input name="startDate" id="startDate" type="datetime-local"
                                            placeholder="dd/mm/aaaa hh:mm"
                                            data-input="data-input"
                                            th:value="${#dates.format(selectiveProcess.startDate, 'yyyy-MM-dd HH:mm')}" />
                                        <button class="br-button circle small" type="button"
                                            aria-label="Abrir Timepicker" data-toggle="data-toggle"
                                            id="dateandtime-input-btn"><i class="fas fa-calendar-alt"
                                                aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-lg-6 col-md-6 col-sm-12">
                                <div class="br-datetimepicker" data-mode="single" data-type="datetime-local"
                                    th:data-input="${#dates.format(selectiveProcess.endDate, 'yyyy-MM-dd HH:mm')}">
                                    <div class="br-input has-icon">
                                        <label for="dateandtime-input">Inicio das incrições</label>
                                        <input name="endDate" id="endDate" type="datetime-local"
                                            placeholder="dd/mm/aaaa hh:mm" data-input="data-input"
                                            th:value="${#dates.format(selectiveProcess.endDate, 'yyyy-MM-dd HH:mm')}" />
                                        <button class="br-button circle small" type="button"
                                            aria-label="Abrir Timepicker" data-toggle="data-toggle"
                                            id="dateandtime-input-btn"><i class="fas fa-calendar-alt"
                                                aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="br-textarea mb-3 col-12">
                            <label for="description">Descrição</label>
                            <textarea name="description" id="descdescriptionription" type="text" required="true"
                                th:field="*{description}" /> </textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="br-button primary dark-mode mr-3 " type="submit" 
                            th:text="${selectiveProcess.id} ? 'Atualizar' : 'Cadastrar'"></button>
                        </div>
                        

                    </form>
                </div>

                <div class="br-card p-5 modaliti d-none">

                    <form id="modalityForm" class="form-horizontal" method="POST">
                        <div class="d-flex justify-content-between mb-3">
                            <h3 class="m-0 mb-2">Modalidades do Processo</h3>
                            <button class="br-button primary dark-mode mr-3 " type="submit" >cadastrar
                            </button>

                        </div>
                        <div class="br-input mb-3 col-12">
                            <label for="input-title">Nome da modalidade</label>
                            <input name="name" type="text" required="true"  id="modalitieName"/>
                        </div>
                        <input type="text" hidden name="processId" id="processId" th:value="${selectiveProcess.id}">
                        <div id="modalitiesList" class="d-flex justify-content-start gap-3 flex-wrap">
                            <span class="br-tag bg-green-cool-vivid-50 medium mb-2"
                                th:each="modaliti : ${selectiveProcess.modalities}">
                                <i class="fa-solid fa-file "></i>
                                <span class="ml-2" th:text="${modaliti.name}"></span>
                            </span>
                        </div>


                    </form>
                </div>
                <div class="br-step" data-initial="1" data-label="bottom">
                    <div class="step-progress">
                        <button class="step-progress-btn " type="button" onclick="openDados()" value="1"><span
                                class="step-info">Processo Seletivo</span></button>
                        <button th:if="${selectiveProcess?.id == null}" class="step-progress-btn " type="button"
                            value="2" disabled><span class="step-info">Modalidades</span></button>
                        <button th:unless="${selectiveProcess?.id == null}" class="step-progress-btn " type="button"
                            value="2" onclick="openModalities()"><span class="step-info">Modalidades</span></button>

                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/assets/vendors/govBR/dist/core.min.js"></script> 
    <!-- <script src="/assets/vendors/govBR/dist/core-init.js"></script> -->
    <script type="module" src="/assets/js/ThemeJS.js"></script>
    <script src="/assets/js/process/AddProcess.js"></script>
 
</body>

</html>


