<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragments/internal/head}"></head>

<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-lg" id="main">
            <h1 th:text="${processList.title}"></h1>
            <div class="br-card p-2">
                <table id="tableProcessSeletive">
                    <thead>
                        <tr class="">
                            <th class="col-1">#</th>
                            <th class="col-2">Data de Inscrição</th>
                            <th class="col-3">Nome</th>
                            <th class="col-2">E-mail</th>
                            <th class="col-4">Modalidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr th:each="subscription: ${subscriptions}">
                            <td class="border-left border-right" th:text="${subscription.candidate.name}"></td>
                            <td class="border-right" th:text="${#dates.format(subscription.process.endDate, 'dd/MM/yyyy HH:mm')}"></td>
                            <td class="border-right">
                                <span class="br-tag  medium bg-green-cool-vivid-50 m-1" 
                                th:each="modality : ${subscription.modalities}">
                                    <i class="fa-solid fa-file bg-green-cool-vivid-50"></i>
                                    <span class="ml-2" th:text="${modality.name}"></span>                               
                                </span>
                            </td>
                        </tr> -->
                    </tbody>
                </table>

                <!-- <table id="example" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot>
                </table> -->
            </div>
        </main>
    </div>
    <script src="/assets/vendors/govBR/dist/core-init.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/assets/vendors/dataTable/js/datatables.min.js"></script>


    <!--export datablesnet-->

    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>




    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
    <script>
        let success = "[[${success}]]";
        let error = "[[${error}]]";
        let processId = "[[${processList.id}]]";
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {

            new DataTable('#tableProcessSeletive', {
                ajax: '/dashboard/subscriptions?processId=' + processId,
                processing: true,
                serverSide: true,
                responsive: true,
                columns: [
                    {data: "id"},
                    {data: "createAt", render: (createdAt) => {
                        return new Date(createdAt).toLocaleString('pt-br');
                    }},
                    {data: "candidate.name"},
                    {data: "candidate.email"},
                ]
            });


        });

    </script>


</body>

</html>