
<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{fragments/internal/head}"></head>

<style>
    #tableProcessSeletive_wrapper:first-child{
        padding: 10px!important
    }
    .dataTables_filter {
        margin-right: 2.5%!important;
    }

    .dataTables_filter input {
        width: 300px!important;
        border: none!important;
        border-bottom: 2px solid #2196F3!important; /* Cor da linha de foco */
        border-radius: 4px!important;
        padding: 10px 0!important;
        font-size: 16px!important;
        transition: border-bottom 0.3s ease!important;
    }

    .dataTables_filter input:focus {
        outline: none!important;
        border-bottom: 2px solid #FF5722!important; /* Cor da linha quando o input está em foco */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1)!important; /* Sombra quando o input está em foco */
    }
</style>

<body>
    <div class="template-base">

        <head th:replace="~{fragments/internal/header}"></head>
        <main class="container-lg" id="main">
            <h1 th:text="${processList.title}"></h1>
            <div class="br-card p-2">
                <table id="tableProcessSeletive">
                    <thead>
                        <tr class="">
                            <th class="col-1">#</th>
                            <th class="col-2">Data de Inscrição</th>
                            <th class="col-3">Nome</th>
                            <th class="col-1">E-mail</th>
                            <th class="col-5">Modalidades</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="/assets/vendors/govBR/dist/core-init.js"></script>
    <script src="/assets/js/ThemeJS.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/assets/vendors/dataTable/js/datatables.min.js"></script>
 

    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>



    <script src="/assets/vendors/sweetAlert2/js/sweetalert2.all.js"></script>
    <script>
        let success = "[[${success}]]";
        let error = "[[${error}]]";
        let processId = "[[${processList.id}]]";
    </script>
    <script src="/assets/js/AlertTrigger.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let table = new DataTable('#tableProcessSeletive', {
                language: {
                    decimal: ',',
                    thousands: '.',
                    emptyTable: "Nenhum registro localizado",
                    search: "",
                    loadingRecords: "Carregando...",
                    zeroRecords: "Nenhum registro localizado",
                    lengthMenu: "Mostrar _MENU_ registros",
                    info: "Mostrando de _START_ a _END_ de _TOTAL_ resultados",
                    infoEmpty: "Mostrando 0 a 0 de 0 registros",
                    infoFiltered: "Filtrado de _MAX_ entradas totais",
                    searchPlaceholder: 'Pesquise por um candidato',
                    paginate: {
                        firts: "Primeiro",
                        last: "Último",
                        next: "Próximo",
                        previous: "Anterior"
                    }
                },
                lengthMenu: [10, 20, 25, 50, 75, 100],
                pageLength: 20,
                responsive: true,
                serverSide: true,
                processing: true,
                paging: true,
                info: true,
                ajax: {
                    type: "GET",
                    url: '/dashboard/subscriptions?processId=' + processId,
                    contentType: "application/json; charset=utf-8",
                    "cache": false,
                    dataType: "json",                    
                    dataSrc: (result) => {
                        let data = result.data;                        
                        data['recordsTotal'] = result.recordsTotal;
                        return data
                    },
                    data: (d) => {
                        d['size'] = d.length;
                        d['page'] = d.start / d.length;
                        d['searchValue'] = d.search.value;
                    }
                },
                columns: [
                    { data: 'id' },
                    { data: (data) => new Date(data.createAt).toLocaleString('pt-br') },
                    { data: (data) => data.candidate.name.toUpperCase() },
                    { data: 'candidate.email' },
                    // { data: (data) => data.modalities.map(modalidade => modalidade.name).join(',<br>')}
                    {data: "modalities", render: (modalities) => {
                        // let list =  modalities.map(element => `<li>${element.name}</li>`);

                        let list = "";

                        modalities.forEach(modality => {
                            list += `<li>${modality.name}</li>`
                        });

                        return `<ul>${list}</ul>`
                    }}
                ],
            });
        });

    </script>

</body>

</html>