<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <title>Template básico</title>
        <!-- Fonte Rawline-->
        <link rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css"/>
        <!-- Fonte Raleway-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap"/>
        <!-- Design System de Governo-->
        <link rel="stylesheet" href="/assets/vendors/govBR/dist/core.css"/>
        <!-- Fav Icon-->
        <link rel="shortcut icon" href="/assets/images/logoMorato-p.png" type="image/x-icon">
        <!-- Fontawesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"/>
    </head>
    <body>
        <div class="template-base">          
            <header class="br-header mb-4" id="header" data-sticky="data-sticky">
                <div class="container-lg">
                    <div class="header-top">
                        <div class="header-logo">
                            <img src="/assets/images/logo_morato-v2.png" alt="logo"/><span class="br-divider vertical"></span>
                            <div class="header-sign">Perefeitura de Francisco Morato</div>
                        </div>
                        <div class="header-actions">
                            <div class="header-links dropdown">
                                <button class="br-button circle small" type="button" data-toggle="dropdown" aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                                </button>
                                <div class="br-list">
                                    <div class="header">
                                        <div class="title">Acesso Rápido</div>
                                    </div>
                                    <a class="br-item" href="javascript:void(0)">Link de acesso 1</a>
                                </div>
                            </div>
                            <span class="br-divider vertical mx-half mx-sm-1"></span>                            
                           
                           
                            <div class="header-login">
                                <div class="header-sign-in">
                                    <a class="br-sign-in small" href="/auth" data-trigger="login"><i class="fas fa-user" aria-hidden="true"></i><span class="d-sm-inline">Entrar</span>
                                    </a>
                                </div>
                                <div class="header-avatar"></div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </header>
            <main class="d-flex flex-fill mb-5" id="main">
                <div class="container-lg d-flex">
                    <div class="row">
                   
                    </div>
                </div>
            </main>
            <footer class="br-footer pt-3" id="footer">
                <div class="container-lg">
                    <div class="info">
                        <div class="text-down-01 text-medium pb-3">Direitos reservador a prefeitura de <strong><a href="https://www.franciscomorato.sp.gov.br/" target="_blank">Francisco Morato.</a></strong></div> 
                    </div>
                </div>
            </footer>
           
        </div>
        <script src="/assets/vendors/govBR/dist/core-init.js"></script>
            <script src="/assets/js/themeJS.js"></script>

    </body>
</html>